{% extends "templates/web.html" %}

{% block title %} {{ _(title) }} {% endblock %}

{% block header %}<h2>{{ _(title) }}</h2>{% endblock %}

{% block page_content %}
<div class="subscriptions-section frappe-card">
	<div class="row">
		<div class="col-sm-6 col-12 subscription-header-details-left">
			<div class="subscription-header-details">
				<h6>{{ _("Customer") }}</h6>
				<div class="value">{{ customer.customer_name }}</div>
				<div class="value">{{ customer.address_display }}</div>
			</div>
		</div>
		<div class="col-sm-6 col-12 subscription-header-details-right">
			<div class="subscription-header-details">
				<h6>{{ _("Billing Contact") }}</h6>
				<div class="value">{{ billing_contact.name or _("No contact") }}</div>
				<div class="value">{{ billing_contact.email or _("No email") }}</div>
			</div>
			<div class="subscription-header-details">
				<h6>{{ _("Current Plan") }}</h6>
				<div class="value">{{ doc.recurrence_period }}</div>
			</div>
			<div class="subscription-header-details">
				<h6>{{ _("Current Period") }}</h6>
				<div class="value">{{ frappe.utils.format_date(doc.current_invoice_start) }} - {{ frappe.utils.format_date(doc.current_invoice_end) }}</div>
			</div>
		</div>
	</div>
	<div class="current-subscription">
		<div class="subscription-subtitle">
			{% if doc.cancellation_date %}
				<h6 class="small muted">
					{{ _("This subscription will end on") }} {{ frappe.utils.global_date_format(doc.cancellation_date) }}
				</h6>
			{% elif next_invoice_date %}
				<h6 class="small muted">
					{{ _("The next invoice will be generated on") }} {{ frappe.utils.global_date_format(next_invoice_date) }}
				</h6>
			{% endif %}
		</div>
		<h5 class="subscriptions-section-title">{{ _("Subscription Details") }}</h5>
		<div class="current-subscription-table">
			{% include "templates/includes/subscriptions/subscription_table.html" %}
		</div>
	</div>
</div>

{% if payment_requests %}
<div class="outstanding-payments frappe-card">
	<h5 class="subscriptions-section-title">{{ _("Outstanding amounts") }}</h5>
	{% for payment_request in payment_requests %}
	<div class="web-list-item transaction-list-item">
		<div class="row align-items-center">
			<div class="col-sm-4">
				<span class="list-item-name font-weight-bold">{{ _("Period") }}</span>
				<div class="small text-muted transaction-time">
					{{ payment_request.from_date }} - {{ payment_request.to_date }}
				</div>
			</div>
			<div class="col-sm-4">
				<span class="list-item-name font-weight-bold">{{ _("Amount") }}</span>
				<div class="small text-muted">
					{{ frappe.utils.fmt_money(frappe.utils.flt(payment_request.grand_total), currency=payment_request.currency) }}
				</div>
			</div>
			<div class="col-sm-4 text-right">
				<a class="btn btn-warning" href="{{ payment_request.payment_link }}">{{ _("Pay immediately") }}</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if not doc.cancellation_date %}
<div class="d-flex cancellation-section">
	<div class="mx-auto">
		<button class="btn btn-danger" id="subscription-cancellation-btn">{{ _("Cancel my subscription") }}</button>
	</div>
</div>
{% endif %}

{% endblock %}

{% block style %}
<style>
.subscriptions-section,
.subscriptions-section-title,
.subscription-subtitle {
	padding: 0.5rem;
	font-size: 0.9rem;
}

.cancellation-section {
	margin-top: 1rem;
}

.subscription-subtitle h6 {
	color: var(--orange-600);
}

.total-row th,
.total-row td {
	border-top: none
}

.subscription-header-details {
	margin-bottom: 1rem;
}

.subscription-header-details-right {
	text-align: right;
}

.outstanding-payments {
	margin: 1rem 0 1rem 0;
}

.outstanding-payments .transaction-list-item {
	padding: 0.5rem;
}

</style>
{% endblock %}

{% block script %}
<script>
frappe.boot = {
	sysdefaults: {
		float_precision: parseInt("{{ frappe.get_system_settings('float_precision') or 3 }}"),
		date_format: "{{ frappe.get_system_settings('date_format') or 'yyyy-mm-dd' }}",
	}
};
</script>
<script>
	{% if not doc.cancellation_date %}
	document.getElementById('subscription-cancellation-btn').addEventListener("click", function(e) {
		new frappe.confirm(__('Cancel this subscription at the end of the current billing period ?'), function() {
			return frappe.call("erpnext.templates.pages.subscription.cancel_subscription", {subscription: "{{ doc.name }}" })
			.then(r => {
				if (!r.exc) {
					frappe.show_alert({message: __("Subscription cancelled"), indicator: "green"})
					location.reload()
				}
			})
		})
	})
	{% endif %}
</script>
{% endblock %}
